.anim-text-banner{
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	white-space: nowrap;
	
	padding: 10px 50px;
	font-weight: 400;
}

span{
	position: absolute;
	display: inline-block;
	clip: rect(0px, 0px, 300px, 0px);
	color: #fff;
}

.anim-text-parent{
	position: relative;
	color: #ff9933;
	>.v-bar{
		position: absolute;
		width: 0px;
		height: 1vw;
		background: #ff9933;
		display: inline-block;
		top: 0px;
		left: -20px;
		transform: translate(-100%,450%);
	}
	>.anim-text{
		overflow: hidden;
		white-space: nowrap;
		top: 0;
		left: 0;
		position: absolute;
		transition: width 1s ease;
		clip: rect(0px, 0px, 300px, 0px);
		color: #fff;
	}
}

@media (max-width: 768px) {
	.anim-text-banner{
	color: #fff;
	font-size: 19px;
	font-weight: bold;
	white-space: nowrap;
	
	padding: 10px 50px;
	font-weight: 400;
}

span{
	position: absolute;
	display: inline-block;
	clip: rect(0px, 0px, 300px, 0px);
	color: #fff;
	margin-left: -166px;
}

.anim-text-parent{
	position: relative;
	color: #ff9933;
	>.v-bar{
		position: absolute;
		width: 0px;
		height: 1vw;
		background: #ff9933;
		display: inline-block;
		top: 0px;
		left: -20px;
		transform: translate(-100%,450%);
	}
	>.anim-text{
		overflow: hidden;
		white-space: nowrap;
		top: 0;
		left: 0;
		position: absolute;
		transition: width 1s ease;
		clip: rect(0px, 0px, 300px, 0px);
		color: #fff;
	}
}
}