.btn-bar {
    outline: none;
    border: none;
  }
  nav {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.0);
  }
  .active {
    border-bottom: #5bcc85 2px solid;
  }
  