/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&display=swap');
* {
  font-family: 'Roboto Condensed', sans-serif;
}
html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
  border-radius: 0;
  border: none;
  background: #091e34;
}
.card-footer {
  background: #051626;
}
.list-redes{
  text-decoration: none;
}
.list-redes:hover {
  color: #5bcc85 !important;
}


.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.bg-banner {
    background-image: url("../../../images/inicio/bannerBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .logo-banner {
    width: 80%;
  }
  .cont-code {
    width: 100%;
    background: #051626;
    min-height: 210px;
    padding: 10px;
  }

.wrapper {
  width: 100%;
  margin: 0 auto;
}
.wrapper a img {
  width: 100%;
  max-height: 172px;
  object-fit: cover;
}
.wrapper a {
  margin: 6px;
}

.bg-article {
  background: #f5f5f5;
}
.bg-program {
  background: #051626;
}
.logo-lang {
  font-size: 70px;
  color: #5bcc85;
}
.text-lang {
  border-bottom: #051626 3px solid;
  padding: 20px;
}
